<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.hrms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TransferDepSer</servlet-name>
  	<servlet-class>com.hrms.servlet.TransferDepSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TransferDepSer</servlet-name>
  	<url-pattern>/TransferDepSer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateDepSer</servlet-name>
  	<servlet-class>com.hrms.servlet.UpdateDepSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateDepSer</servlet-name>
  	<url-pattern>/UpdateDepSer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RemoveDepSer</servlet-name>
  	<servlet-class>com.hrms.servlet.RemoveDepSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemoveDepSer</servlet-name>
  	<url-pattern>/RemoveDepSer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddDepSer</servlet-name>
  	<servlet-class>com.hrms.servlet.AddDepSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddDepSer</servlet-name>
  	<url-pattern>/AddDepSer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TransferStaSer</servlet-name>
  	<servlet-class>com.hrms.servlet.TransferStaSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TransferStaSer</servlet-name>
  	<url-pattern>/TransferStaSer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateStaSer</servlet-name>
  	<servlet-class>com.hrms.servlet.UpdateStaSer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateStaSer</servlet-name>
  	<url-pattern>/UpdateStaSer</url-pattern>
  </servlet-mapping>
</web-app>
